.wrapper {
  margin: 0 auto;
  width: 600px;
  height: 300px;
  border-bottom: 30px solid #d0d102;
}
.clear {
  clear: both;
}
.left_wall {
  float: left;
  width: 30px;
  height: 100px;
  background: #61ae24;
  -webkit-animation: left-wall 3s infinite;
}
.right_wall {
  float: right;
  width: 30px;
  height: 100px;
  background: #61ae24;
  -webkit-animation: right-wall 3s infinite;
}
.ball {
  float: left;
  width: 50px;
  height: 50px;
  background: #f18d05;
  border-radius: 50%;
  margin-top: 30px;
  -webkit-animation: bounce_ball 3s linear infinite;
}
@-webkit-keyframes left-wall {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 200px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes right-wall {
  0% {
    margin-top: 200px;
  }

  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 200px;
  }
}
@-webkit-keyframes bounce_ball {
  0% {
    margin-top: 30px;
  }
  25% {
    margin-left: 250px;
    margin-top: 252px;
  }
  50% {
    margin-left: 490px;
    margin-top: 30px;
  }
  75% {
    margin-left: 250px;
    margin-top: 252px;
  }
  100% {
    margin-left: 0px;
    margin-top: 30px;
  }
}
